@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


* {
    font-family: "Nunito Sans", sans-serif;
}

h1 strong{
    font-weight: 600 "bold";
}

p{
    font-weight: 400;
}

.card-img-top {
    width: 25%;
    height: 15%;
    object-fit: fill;
    color: blue;
}  


.listeContact {
    list-style-type: none;
}